

p {
    text-transform: none;
    max-width: 37em;
}

.item-title {
    justify-content: space-around;
}

.item-img {
    margin: 2em;
    width: 100%;
    height: 20em;
    background-color: tomato;
}
