
/* BASE STYLES ========================================= */

* {
    box-sizing: border-box;
    /* font-size: 16px; */
}

.clearfix::after {
    display: table:
    clear: both;
    content: "";
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

section {
    background: pink;
}

nav ul, .container {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 1em;
}

button {
    margin: 0 auto;
}

img {
    width: 100%;
}

p, h2, h3, h4 {
    display: inline-block;
}

h4 {
    float: right;
}

/* HEADER ========================================= */


/* MAIN ========================================= */

main {
    background-color: lightblue;
    width: 68%;
}

.container {
    flex-wrap: wrap;
}

.container-center {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    justify-content: center;
}

.img-container {
    width: 45%;
}

#store-container {
    min-height: 100vh;
    display: block;
    flex-wrap: nowrap;
}

.store-img {
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

/* SHOPPING CART ========================================= */

aside {
    background-color: honeydew;
    width: 30%;
}

.listPrice {
    padding-left: 3em;
}


/* MEDIA QUERIES ========================================= */
/*
@media screen and (max-width: 425px){
html {
font-size: 12pt;
}
}
*/
